* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dedede;
}

.dashboard {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar {
  position: absolute;
  background-color: black;
  width: 20%;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.home-icon,
.user-icon {
  color: black;
  margin: 5px 15px;
}

.icon {
  color: #fff;
  width: 65%;
  background-color: #fff;
  margin: 20px;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}

.icon:hover {
  background-color: #f0f0f0;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.search-field {
  position: absolute;
  left: 20%;
  width: 75%;
  margin: 2%;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.form-container {
  border-radius: 20px;
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(121, 121, 121);
  padding: 10px;
  border-radius: 20px;
}

.form h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: black;
  font-family: monospace;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-container label {
  font-size: 25px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.input-container input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid gray;
  width: 100%;
}

.span-field {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: #1f2937;
  cursor: pointer;
}

.btn {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  background-color: black;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1.5rem;
  color: white;
  font-family: monospace;
  font-weight: bold;
  width: 100%;
}

/* main container around the form in dashboard component */
.note-editor {
  position: absolute;
  left: 60%;
  top: 80px;
  width: 37%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 15px;
  height: 85vh;
  background-color: #fff;
}

.note-form-container {
  width: 100%;
}

.note-form-container textarea {
  width: 100%;
  padding: 10px;
  resize: none;
}

.submit-btn {
  background-color: black;
  color: #ffff;
  font-size: 1.1rem;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

.notes-list {
  position: absolute;
  left: 25%;
  top: 80px;
  width: 30%;
}

.individual-note {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.changing-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.edite-btn,
.delete-btn {
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.1rem;
  width: 20%;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #fff;
  transition: all 0.3s ease-out;
}

.edite-btn:hover,
.delete-btn:hover{
  background-color: black;
  color: white;
}

.sort-btn{
  margin: 5px 0px;
  background-color: black;
  color: #fff;
  padding: 4px 8px;
  font-size: 15px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .navbar {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .logo {
    margin: 0;
  }

  .nav-icons {
    flex-direction: row;
    justify-content: center;
    width: auto;
    gap: 15px;
  }
  .search-field {
    position: relative;
    top: 30%;
    left: 0;
    width: 95%;
  }

  .note-editor {
    position: absolute;
    left: 50%;
    top: 300px;
    width: 45%;
    height: 60vh;
  }

  .notes-list {
    position: absolute;
    left: 5%;
    top: 300px;
    width: 40%;
  }
}
